.container {
    display: grid;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    margin:auto;
    background-color: green;    
    grid-gap: 0;
    
    grid-template-rows: repeat(8, 70px) ;
  }
.row{
  display: grid;
  grid-template-columns: repeat(8, 70px);
  text-align: center;
  font-size: 50px;
}

.row:nth-child(odd) .square:nth-child(odd){
  background-color: greenyellow;}
.row:nth-child(even) .square:nth-child(even){
  background-color: greenyellow;}

.row:nth-child(7) .square:nth-child(n+1):before {
    content: "\2659";  
}

.row:nth-child(2) .square:nth-child(n+1):before {
  content: "\265F";
}

.row:nth-child(1) .square:nth-child(7n+1):before {
  content: "\265C";
}
.row:nth-child(1) .square:nth-child(5n+2):before {
  content: "\265E";
}
.row:nth-child(1) .square:nth-child(3n+3):before {
  content: "\265D";
}
.row:nth-child(1) .square:nth-child(4):before {
  content: "\265B";
}
.row:nth-child(1) .square:nth-child(5):before {
  content: "\265A";
}

.row:nth-child(8) .square:nth-child(7n+1):before {
  content: "\2656";
}
.row:nth-child(8) .square:nth-child(5n+2):before {
  content: "\2658";
}
.row:nth-child(8) .square:nth-child(3n+3):before {
  content: "\2657";
}
.row:nth-child(8) .square:nth-child(4):before {
  content: "\2655";
}
.row:nth-child(8) .square:nth-child(5):before {
  content: "\2654";
}

.row:nth-child(n+7) {
  color: white;
}